<form #form="ngForm">
  <h1>ATUALIZANDO UM LIVRO</h1>
  <mat-form-field class="form">
    <mat-label>TÍTULO: </mat-label>
    <input matInput type="text" name="title" [(ngModel)]="books.title" placeholder="Ex. Spring Boot com Angular 14"  minlength="3" maxlength="100" required #title="ngModel">
    <mat-error *ngIf="title.invalid">
      O campo TÍTULO precisa conter entre 3 e 100 caracteres!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>AUTOR: </mat-label>
    <input matInput type="text" name="author_name" [(ngModel)]="books.authorName" placeholder="Ex. Nome do Autor" minlength="3" maxlength="100" required #author_name="ngModel"
    >
    <mat-error *ngIf="author_name.invalid">
      O campo NOME DO AUTOR precisa conter entre 3 e 100 caracteres!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>TEXTO: </mat-label>
    <textarea matInput type="text" name="text" [(ngModel)]="books.text" placeholder="Ex. Lorem Ipsum" minlength="10" maxlength="2000000" required #text="ngModel"></textarea>
    <mat-error *ngIf="text.invalid">
      O campo TEXTO precisa conter entre 10 e 2.000.000 caracteres!
    </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button [disabled]="!form.valid" (click)="update()" class="button-add mat-elevation-z8" mat-stroked-button color="primary">ATUALIZAR</button>
    <button (click)="cancel()" class="button-add mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
  </div>
</form>
