<form>
  <h1>ATUALIZAR UMA CATEGORIA</h1>

  <mat-form-field class="form">
    <mat-label>NOME: </mat-label>
    <input matInput [(ngModel)]="category.name" type="text" name="name" placeholder="Ex. Computação">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>DESCRIÇÃO: </mat-label>
    <textarea matInput [(ngModel)]="category.description" type="text" name="description" placeholder="Ex. Livros de Computação"></textarea>
  </mat-form-field>

  <div class="buttons">
    <button (click)="update()" class="button-add mat-elevation-z8" mat-stroked-button color="primary">ATUALIZAR</button>
    <button (click)="cancel()" class="button-add mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
  </div>
</form>
