<div class="content">
  <div class="title">
    <h1>CATEGORIA</h1>
  </div>

  <button class="button-add mat-elevation-z8" mat-stroked-button color="warn" (click)="navigateToCategoryCreate()">NOVA CATEGORIA</button>

  <mat-table aria-describedby="infoCategory" class="mat-elevation-z8" [dataSource]="categories">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"> {{ row.description }} </mat-cell>
    </ng-container>

    <!-- Book Column -->
    <ng-container matColumnDef="book">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Livros </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
        <button mat-icon-button aria-label="Listar livros" routerLink="{{ row.id }}/books">
          <mat-icon class="books">book</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column" >
        Ações
      </mat-header-cell>

      <mat-cell *matCellDef="let row" class="action-column">
        <button mat-icon-button color="primary" aria-label="Editar Curso" routerLink="update/{{ row.id }}">
          <mat-icon class="actions">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Remover Curso" routerLink="delete/{{ row.id }}">
          <mat-icon class="actions">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    class="custom-paginator"
    showFirstLastButtons
    [length]="totalElements"
    [pageSize]="size"
    [pageSizeOptions]="[5, 10, 15]"
    (page)="onChange($event)">
  </mat-paginator>
</div>
