<mat-card class="home">
  <mat-card-header>
    <mat-card-title>Bem-vindo!</mat-card-title>
    <mat-card-subtitle>Sistema para exemplificar um CRUD utilizando os Frameworks Angular e Spring</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="home">
  <mat-card-content>
    <mat-card-subtitle>Teste a aplicação!</mat-card-subtitle>

    <p>Antes de logar, efetue um cadastro fictício. Exemplos:</p>
    <p><strong>Usuário:</strong> usuario@email.com</p>
    <p><strong>Senha:</strong> 12345</p>
    <p><strong>Tipo de Usuário: </strong> Comum</p><br>

    <p>Para acesso com privilégios:</p>
    <p><strong>Usuário:</strong> root@email.com</p>
    <p><strong>Senha:</strong> root12345</p>
    <p><strong>Tipo de Usuário: </strong> Administrador</p>

    <p>OBS: Os cadastros funcionam até a página web ser recarregada. </p>
  </mat-card-content>
</mat-card>
