<mat-card class="home">
  <mat-card-header>
    <mat-card-title>Bem-vindo!</mat-card-title>
    <mat-card-subtitle>Sistema para exemplificar um CRUD utilizando os Frameworks Angular e Spring</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="home">
  <mat-card-content>
    <mat-card-subtitle>Teste a aplicação!</mat-card-subtitle>
    <h4>Para acesso comum:</h4>
    <p><strong>Usuário:</strong> usuario@email.com</p>
    <p><strong>Senha:</strong> 12345</p>

    <h4>Para acesso com privilégios:</h4>
    <p><strong>Usuário:</strong> root@email.com</p>
    <p><strong>Senha:</strong> root12345</p>
  </mat-card-content>
</mat-card>
